*,
*::before,
*::after {
  box-sizing: border-box;
}

.container{
    margin: auto;

}
#page-title, #clock , #score{
    font-size: 40px;
    text-align: center;

    justify-content: center;
}

.question-heading, .leader-board {
    background-color: antiquewhite;
    text-align: center;
    padding: 13px;
}

p {
    font-size: 40px;
}

body {
    text-align: center;
}

.navbar{
    display: block;
}


#name-entry {
    display: none;
    width: 100%;
    ;
}

#leader-board  {
    /* background-color: burlywood; */
    width: 250px;
    /* border-style: ridge; */
    float: right;

}

#leader-board, h2{
    font-size: 25px;
}

#restart-button, #score-button, #start-button, #submit-button {
    margin-top: 25px;

}
.row {
    margin-top: 15px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    #page-title {
        font-size: 25px;
    }
    #leader-board h2, #entry {
        /* width: 150px; */
        width: max-content;
        margin-top: 15px;
    }
}

